/* =========Profile Page Styling============= */
    .profile_page{
        padding:20px;
        box-shadow:  0 4px 16px rgb(0 0 0 / 10%);
        border-radius:5px;
    }
    .profile_page .profile_heding{
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .profile_page .profile_heding h3{
        color: #333333;
        font-weight: 600;
    }
    .profile_page .profile_heding h3 span{
        color: #008aff;
    }
    .profile_page .profile_heding p{
        font-weight: 600;
        text-transform: uppercase;
        color: #928f88;
    }

    /* ==========Profile============ */
        .profile_page .profile{
            justify-content: center;
        }
        .profile_page .profile ul li{
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: #777777;
            font-size:18px;
        }
        .profile_page .profile ul li span{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: #444444;
            font-size:18px;
            margin-left:5px;
        }
    /* ========X==Profile==X========== */

    /* ==========Quection Section========== */
        .profile_page .quection_profile{
            font-family: 'Poppins', sans-serif;
            justify-content: center;
        }
        .profile_page .quection_profile h3{
            text-align: center;
            color: #333333;
            font-weight: 600;
        }
        .profile_page .quection_profile h3 span{
            color: #008aff;
        }
        .profile_page .quection_profile p{
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            color: #928f88;
        }
        .profile_page .quection_profile .accordion-flush .accordion-item .accordion-button {
            font-weight: 600;
            color: #333333;
        }
        .profile_page .quection_profile .accordion-body {
            font-weight:500;
            color:#444444;
            text-align: justify;
        }
/* =======X==Profile Page Styling==X=========== */