.bot_icon{
   position: fixed;
   bottom: 20px;
   right:20px;
   cursor: pointer;
}
.bot_icon i{
    font-size: 22px;
    padding:10px;
    background-color: #008aff;
    color: #fff;
    border-radius: 50%;
    box-shadow:  0 4px 16px rgb(0 0 0 / 10%);
}